<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">vehicle </th>
        <th scope="col">tyre</th>
        <th scope="col">mobile</th>
        <th scope="col">address</th>
        <th scope="col">email</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tyres of collection">
          <td>{{tyres.id}}</td>
          <td>{{tyres.vehicle}}</td>
          <td>{{tyres.tyre}}</td>
          <td>{{tyres.mobile}}</td>
          <td>{{tyres.address}}</td>
          <td>{{tyres.email}}</td>
          <td><a routerLink="/update/{{tyres.id}} "><i class="fa fa-edit" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;
            <i (click)="deleteResto(tyres.id)" class="fa fa-trash-o" style="font-size:24px;color:red"></i></td>
    
      </tr>  
     
    </tbody>
  </table>
